* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background-color: #a667d9;
	display: grid;
	justify-items: center;
	font-family: sans-serif;
}
body {
	width: 600px;
	height: 100vh;
	display: grid;
	place-content: center;
	background-color: #f9f1fe;
}
form {
	box-shadow: 0 0 20px 15px #d6b0ed;
	border-radius: 5px;
	width: 360px;
	padding: 2rem;
	background-color: white;
}

label {
	align-content: center;
	display: block;
}
span {
	display: block;
}

h1 {
	text-align: center;
	margin-bottom: 1rem;
	background-image: linear-gradient(to right, #619fec, #bc58d6);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

form span {
	color: #606060;
	margin-bottom: 0.5rem;
}

form input,
form textarea,
form select {
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
	width: 100%;
	border: none;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid #f5e3f7;
	outline: none;
}
#t-and-c {
	width: auto;
}

form button {
	width: 100%;
	padding: 0.5rem;
	font-size: 1.2rem;
	color: white;
	border-radius: 10px;
	outline: none;
	background-image: linear-gradient(to right, #bc58d6, #619fec);
}
form input:focus:invalid,
form select:focus:invalid {
	background-color: rgba(255, 0, 0, 0.351);
}
form input:focus:valid,
form select:focus:valid {
	background-color: rgba(0, 255, 0, 0.351);
}
