* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background-color: #a667d9;
	display: grid;
	justify-items: center;
}
body {
	width: 600px;
	height: 100vh;
	display: grid;
	place-content: center;
	background-color: #f9f1fe;
}
form {
	box-shadow: 0 0 20px 15px #d6b0ed;
	border-radius: 5px;
	width: 300px;
	padding: 20px;
	background-color: white;
}

label {
	align-content: center;
	display: block;
}
span {
	display: block;
}

form h1 {
	background-image: linear-gradient(to right, #7a8ae6, #a667da);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
